<p style="color: green"><%= notice %></p>

<div id="services">
  <% current_user.desks.categories.each do |category| %>
    <%= category.name %>
    <p>
      <%= link_to "Show this service", category %>
    </p>
  <% end %>
</div>

<%= link_to "New service", new_service_path %>
