<div class="flex flex-col items-center justify-center w-full">
  <% @statuses.each do |status, bookings| %>
    <%= render 'shared/list_of_bookings', bookings: bookings, booking_status: status.to_s %>
  <% end %>
</div>
