<div class="relative min-h-screen text-gray-800">
  <div class="absolute inset-0 z-0 my-20">
    <!-- Spline model viewer -->
<script type="module" src="https://unpkg.com/@splinetool/viewer@1.1.8/build/spline-viewer.js"></script>
<spline-viewer url="https://prod.spline.design/kSzzCxYsCQRr1ihz/scene.splinecode"></spline-viewer>
  </div>

</div>

<div >
  <div class="z-10 flex flex-col items-center justify-center p-4">
    <h1 class="text-6xl font-bold text-center">FlowDesk</h1>
    <p class="text-xl  text-black">Effortless Service Management Awaits: Welcome to Your Streamlined Virtual Desk</p>
  </div>

  <div class="container mx-auto px-4 sm:px-6 lg:px-8 ">
    <div class="overflow-hidden sm:rounded-lg">
      <div class="px-4 py-5 sm:px-6  text-center">
        <h2 class="text-4xl leading-6 font-bold text-orange-600 pb-2 uppercase">Service Management</h2>
        <h2 class="text-md leading-6 font-medium text-black">Display, manage, and track your services effortlessly.</h2>

      </div>
      <div class="px-4 py-5 sm:px-6  text-center ">
        <h2 class="text-4xl leading-6 font-bold text-orange-600 pb-2 uppercase">Dashboard</h2>
        <h2 class="text-md leading-6 font-medium text-black">Visual stats for bookings and top services.</h2>
      </div>
      <div class="px-4 py-5 sm:px-6  text-center ">
        <h2 class="text-4xl leading-6 font-bold text-orange-600 pb-2 uppercase">Unique Desk Link</h2>
        <h2 class="text-md leading-6 font-medium text-black">Direct booking requests via your personalized link.</h2>
      </div>
      <div class="px-4 py-5 sm:px-6  text-center ">
        <h2 class="text-4xl leading-6 font-bold text-orange-600 pb-2 uppercase">Dashboard</h2>
        <h2 class="text-md leading-6 font-medium text-black">Visual stats for bookings and top services.</h2>
      </div>

    </div>

    <!-- Repeat the above pattern for each section like Booking System, Dashboard, etc. -->
  </div>
<div class="flex justify-center">
  <button class="mb-20 bg-orange-600 text-white font-bold py-3 px-6 rounded hover:bg-orange-700 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
    Start Organizing Your Desk Today!
  </button>
</div>
