<h1>FlowDesk</h1>

<h2>Effortless Service Management Awaits: Welcome to Your Streamlined Virtual Desk</h2>
<p>Display, manage, and track your services effortlessly</p>

<button>Start Organizing Your Desk Today!</button>

<hr>


<h2>Service Management</h2>
<ul>
<li>Add new services with a user-friendly interface.</li>
<li>Edit details like name, price, description, and duration</li>
<li>Delete services with a simple click.</li>
<li>Analytics insights: booking frequency and revenue generated.</li>
</ul>

<hr>

<h2>Booking System</h2>
<ul>
<li>Overview of all bookings: "Pending," "Confirmed," and "Completed"</li>
<li>One-click confirmation for pending bookings.</li>
<li>Detailed booking info: service details, client name, and contact details.</li>
</ul>

<hr>

<h2>Dashboard</h2>
<ul>
<li>Visual stats for bookings and top services.</li>
<li>Quick views: "Upcoming Bookings," "Pending Bookings," "Top Services," and "Total Bookings</li>
<li>Customizable timeframes: week, month, year.</li>
</ul>

<hr>
<h2>Unique Desk Link</h2>
<ul>
<li>Personalized URL for each user.</li>
<li>Shareable link for easy access to service offerings.</li>
<li>Direct booking requests via the custom link.</li>
</ul>

<hr>

<h2>Client Interaction</h2>
<ul>
<li>Interactive service display for clients on your personalized link.</li>
<li>Streamlined booking request system for clients.</li>
<li>Easy confirmation process within the app.</li>
</ul>

<hr>
<h3>Get the latest updates</h3>
<form action="">
<label for="">Name</label>
<input type="text">
<label for="">Email</label>
<input type="text">
<button>Sign up for updates</button>
</form>
