<div id="<%= dom_id availability %>">

  <p>
    <strong>Day of the week:</strong>
    <%= availability.day_of_the_week %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= availability.start_time.strftime("%-l %p") %>

  </p>

  <p>
    <strong>End time:</strong>
    <%= availability.end_time.strftime("%-l %p")  %>
  </p>

</div>
