<p style="color: green"><%= notice %></p>

<h1>Availability</h1>

<div id="availabilities">
  <% current_user.desks.availability.each do |availability| %>
    <%= render availability %>
  <%= link_to "Edit this availability", edit_availability_path(availability) %> 
  <% end %>
</div>

<%= link_to "Add Day", new_availability_path %>
